{% extends 'base.html' %}

{% block content %}
<h1 class="my-4">Задачи</h1>
<a href="{% url 'task_create' %}" class="btn btn-primary mb-3">Создать задачу</a>
<table class="table table-striped">
    <thead>
        <table>
            <th>ID</th>
            <th>Имя</th>
            <th>Статус</th>
            <th>Автор</th>
            <th>Исполнитель</th>
            <th>Метки</th>
            <th>Дата создания</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.name }}</td>
            <td>{{ task.status.name }}</td>
            <td>{{ task.author.username }}</td>
            <td>{{ task.executor.username|default:"" }}</td>
            <td>
                {% for label in task.labels.all %}
                    {{ label.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
            <td>
                <a href="{% url 'task_detail' task.id %}">Показать</a>
                <a href="{% url 'task_update' task.id %}">Изменить</a>
                <a href="{% url 'task_delete' task.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
